html
  head
    title Rollout Admin
    link(rel="stylesheet", href="/rollout/public/css/index.css")
  body
    .container
      header
        | Rollout Admin
        ul
          li
            a(href="/rollout/groups") Groups
          li
            a(href="/rollout/users") Users
          li
            a(href="/rollout/deactivate") Deactivate
      div.content
        block content